<?xml version="1.0" encoding="utf-8" ?>
<fantasy xmlns="http://fantasy.net/config" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://fantasy.net/config Fantasy.xsd">
  <!-- ↓这是为了兼容旧版Fantasy的导表Json配置↓, 如果这个XML节点被注释掉, 就会以 Fantasy.config 配置为准 -->
  <!--<configTable path="../../../../Config/Json/Server" />-->
  <!-- ↓这是目前推荐使用的Fantasy框架启服配置↓ -->
  <!-- 网络配置 服务器之间访问的协议 -->
  <network inner="TCP" maxMessageSize="1048560" />
  <!-- 心跳消息配置 超时时间:8秒 心跳检测间隔:5秒 建议小于超时时间百分之60 -->
  <session idleTimeout="8000" idleInterval="5000" />
  <server>
    <!-- 机器配置 -->
    <machines>
      <!-- 鉴权服务器 -->
      <machine id="1" outerIP="127.0.0.1" outerBindIP="127.0.0.1" innerBindIP="127.0.0.1" />
    </machines>
    <!-- 进程配置 -->
    <processes>
      <!-- ========== 鉴权进程：2个（CPU密集型，避免过多竞争） ========== -->
      <!-- 鉴权主要是RSA/ECDSA签名+Redis查询，2进程足够 -->
      <!-- Gate服务器占用Id 1 - 1999 -->
<!--      <process id="1" machineId="1" startupGroup="0" />-->
<!--      <process id="2" machineId="1" startupGroup="0" />-->
<!--      &lt;!&ndash; Address 服：1个进程足够（轻量） &ndash;&gt;-->
<!--      <process id="2000" machineId="1" startupGroup="0" />-->
<!--      &lt;!&ndash; Gate服务器占用Id 2001 - 3000 &ndash;&gt;-->
<!--      &lt;!&ndash; ========== 网关进程：4个（IO密集型，利用多核） ========== &ndash;&gt;-->
<!--      &lt;!&ndash; 每个网关进程独立监听端口，避免单进程fd限制 &ndash;&gt;-->
<!--      <process id="2001" machineId="1" startupGroup="0" />-->
<!--      <process id="2002" machineId="1" startupGroup="0" />-->
<!--      <process id="2003" machineId="1" startupGroup="0" />-->
<!--      <process id="2004" machineId="1" startupGroup="0" />-->
<!--      &lt;!&ndash; ========== 游戏逻辑进程：4个（CPU密集型） ========== &ndash;&gt;-->
<!--      <process id="3001" machineId="1" startupGroup="0" />-->
<!--      <process id="3002" machineId="1" startupGroup="0" />-->
<!--      <process id="3003" machineId="1" startupGroup="0" />-->
<!--      <process id="3004" machineId="1" startupGroup="0" />-->
        <process id="1" machineId="1" startupGroup="0" />
    </processes>
    <!-- 世界配置 -->
    <worlds>
<!--           &lt;!&ndash; 账号数据：最重要，必须高可用 &ndash;&gt;-->
<!--           <world id="1" worldName="AuthWorld" >-->
<!--              <database dbType="MongoDB" dbName="fantasy_auth" dbConnection="mongodb://127.0.0.1"/>-->
<!--           </world>-->
<!--           &lt;!&ndash; 游戏数据：玩家进度、道具 &ndash;&gt;-->
<!--           <world id="2" worldName="GameWorld" >-->
<!--                  <database dbType="MongoDB" dbName="fantasy_game" dbConnection="mongodb://127.0.0.1"/>-->
<!--           </world>-->
<!--           &lt;!&ndash; 日志数据：可容忍延迟，可丢 &ndash;&gt;-->
<!--           <world id="3" worldName="LogWorld" >-->
<!--                  <database dbType="MongoDB" dbName="fantasy_log" dbConnection="mongodb://127.0.0.1"/>-->
<!--           </world>-->

              <!-- 账号数据：最重要，必须高可用 -->
              <world id="1" worldName="Auth" >
                     <database dbType="MongoDB" dbName="auth" dbConnection="mongodb://127.0.0.1"/>
              </world>
              <!-- 游戏数据：玩家进度、道具 -->
              <world id="2" worldName="Game" >
                     <database dbType="MongoDB" dbName="game" dbConnection="mongodb://127.0.0.1"/>
              </world>
    </worlds>
    <!-- 场景配置 -->
    <scenes>
      <!-- 进程1：运维服务器 占用1000 -->
      <scene id="1000" processConfigId="1" worldConfigId="1" 
             sceneRuntimeMode="MultiThread" sceneTypeString="Operations"
             innerPort="11000" />
      <!-- 鉴权Scene的ID占 1001 - 1050 -->
      <!-- ========== 鉴权服：2进程 × 2Scene = 4个鉴权点 ========== -->
      <!-- 进程1：2个Scene -->
      <scene id="1001" processConfigId="1" worldConfigId="1" 
             sceneRuntimeMode="MultiThread" sceneTypeString="Authentication"
             networkProtocol="HTTP" outerPort="20001" innerPort="11001" />
<!--      <scene id="1002" processConfigId="1" worldConfigId="1" -->
<!--             sceneRuntimeMode="MultiThread" sceneTypeString="Authentication"-->
<!--             networkProtocol="HTTP" outerPort="20002" innerPort="11002" />-->
<!--      &lt;!&ndash; 进程2：2个Scene &ndash;&gt;-->
<!--      <scene id="1003" processConfigId="2" worldConfigId="1" -->
<!--             sceneRuntimeMode="MultiThread" sceneTypeString="Authentication"-->
<!--             networkProtocol="KCP" outerPort="20003" innerPort="11003" />-->
<!--      <scene id="1004" processConfigId="2" worldConfigId="1" -->
<!--             sceneRuntimeMode="MultiThread" sceneTypeString="Authentication"-->
<!--             networkProtocol="KCP" outerPort="20004" innerPort="11004" />-->
      
      <!-- ========== Address 服 ========== -->
      <scene id="1050" processConfigId="1" worldConfigId="2"
             sceneRuntimeMode="MultiThread" sceneTypeString="Address"
             networkProtocol="KCP" outerPort="20100" innerPort="11100" />
      
      <!-- GateScene的ID占 1051 - 1100 -->
      <!-- ========== 网关服：4进程 × 2Scene = 8个网关 ========== -->
      <!-- 进程2001 -->
      <scene id="1051" processConfigId="1" worldConfigId="2" 
             sceneRuntimeMode="MultiThread" sceneTypeString="Gate"
             networkProtocol="KCP" outerPort="20051" innerPort="11051" />
<!--      <scene id="1052" processConfigId="2001" worldConfigId="2" -->
<!--             sceneRuntimeMode="MultiThread" sceneTypeString="Gate"-->
<!--             networkProtocol="KCP" outerPort="20052" innerPort="11052" />-->
<!--      &lt;!&ndash; 进程2002 &ndash;&gt;-->
<!--      <scene id="1053" processConfigId="2002" worldConfigId="2" -->
<!--             sceneRuntimeMode="MultiThread" sceneTypeString="Gate"-->
<!--             networkProtocol="KCP" outerPort="20053" innerPort="11053" />-->
<!--      <scene id="1054" processConfigId="2002" worldConfigId="2" -->
<!--             sceneRuntimeMode="MultiThread" sceneTypeString="Gate"-->
<!--             networkProtocol="KCP" outerPort="20054" innerPort="11054" />-->
<!--      &lt;!&ndash; 进程2003 &ndash;&gt;-->
<!--      <scene id="1055" processConfigId="2003" worldConfigId="2" -->
<!--             sceneRuntimeMode="MultiThread" sceneTypeString="Gate"-->
<!--             networkProtocol="KCP" outerPort="20055" innerPort="11055" />-->
<!--      <scene id="1056" processConfigId="2003" worldConfigId="2" -->
<!--             sceneRuntimeMode="MultiThread" sceneTypeString="Gate"-->
<!--             networkProtocol="KCP" outerPort="20056" innerPort="11056" />-->
<!--      &lt;!&ndash; 进程2004 &ndash;&gt;-->
<!--      <scene id="1057" processConfigId="2004" worldConfigId="2" -->
<!--             sceneRuntimeMode="MultiThread" sceneTypeString="Gate"-->
<!--             networkProtocol="KCP" outerPort="20057" innerPort="11057" />-->
<!--      <scene id="1058" processConfigId="2004" worldConfigId="2" -->
<!--             sceneRuntimeMode="MultiThread" sceneTypeString="Gate"-->
<!--             networkProtocol="KCP" outerPort="20058" innerPort="11058" />-->
      
      <!-- 游戏逻辑服的ID占 1101 - 1200 -->
      <!-- ========== 游戏逻辑服：4进程 × 1Scene（或更多） ========== -->
      <scene id="1101" processConfigId="1" worldConfigId="2" sceneRuntimeMode="MultiThread" sceneTypeString="Game" innerPort="12001" />
<!--      <scene id="1102" processConfigId="3002" worldConfigId="2"-->
<!--             sceneRuntimeMode="MultiThread" sceneTypeString="Game"-->
<!--             innerPort="12002" />-->
<!--      <scene id="1103" processConfigId="3003" worldConfigId="2"-->
<!--             sceneRuntimeMode="MultiThread" sceneTypeString="Game"-->
<!--             innerPort="12003" />-->
<!--      <scene id="1104" processConfigId="3004" worldConfigId="2"-->
<!--             sceneRuntimeMode="MultiThread" sceneTypeString="Game"-->
<!--             innerPort="12004" />-->
    </scenes>
  </server>
</fantasy>